html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Allows divs to extend full height of screen */
}

body {
    margin: 0;
    /* Allows divs to extend full height of screen */
    background-repeat: no-repeat;
    /* Prevents background gradient from repeating due to extneded height */
    background-attachment: fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to bottom, rgba(4, 14, 65, 1), rgba(48, 59, 114, 1));
}

section {
    padding: 60px 0;
}

#intro {
    height: 75%;
}

/*---------- Nav bar ----------*/
.navbar {
    color: #040e41;
    background: #efefef
}

.navbar-brand {
    font-family: "Montserrat";
    color: #040e41 !important;
    font-size: 200%;
}

.nav-link {
    font-family: "Source Sans Pro";
    color: #040e41 !important;
    font-size: 150%;
    position: relative;

}

/* Animating Link Underlines */
.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #040e41;
    transform: scaleX(0);
    /* Create a line underneath with a transformation of zero so no line is visible */
    transition: transform 0.3s ease;
}

.nav-link:hover::before {
    color: #0152b1 !important;
    transform: scaleX(1);
    /*Transform the line so it becomes visible*/

}

.navbar-nav li {
    padding: 0px 15px;
}

/* ---------- Intro Section ----------*/
.name {
    font-family: "Montserrat";
    color: #f5de34 !important;
    font-size: 4em;
    text-shadow: -3px -3px 0 #040e41, 3px -3px 0 #040e41, -3px 3px 0 #040e41, 6px 6px 0 #040e41;
    /*Add a text shadow in all directions to create a text outline stroke*/

}

.intro-descri {
    font-family: "Source Sans Pro";
    color: #efefef !important;
    font-size: 1.5em;
}

.intro-image {
    width: 25vw;
    filter: drop-shadow(5px 5px 3px #000000);
}

.wire-1 {
    position: absolute;
    width: 20vw;
    left: 0;
    top: 20%;
}

.wire-2 {
    position: absolute;
    width: 20vw;
    right: 0;
    top: 20%
}

.chevron-down {
    color: #f5de34;

    /*-- name animation --*/
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}


/* Animate bouncing chevron */
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 1vw);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* ---------- About section ---------- */
.about-title {
    font-family: "Montserrat";
    color: #efefef !important;
    font-size: 4rem;
}

.about-text {
    font-family: "Source Sans Pro";
    color: #efefef !important;
    font-size: 1.25rem;
    line-height: normal;
}

.about-image {
    filter: drop-shadow(5px 5px 3px #000000);
    /*-- name animation --*/
    animation-name: floating_space;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating_space {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(1vw, 1vw);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* ----- Cards ----- */
.about-card {
    /*width: 8vw;*/
    /*height: 7.5vw;*/
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(190, 190, 190, 1)) !important;
}

.about-card:hover {
    filter: drop-shadow(5px 5px 3px #000000);

}

.intrest-image {
    width: 6vw;
    height: 6vw;
}