html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Allows divs to extend full height of screen */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* Allows divs to extend full height of screen */
    background-repeat: no-repeat;
    /* Prevents background gradient from repeating due to extneded height */
    background-attachment: fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-image: linear-gradient(to bottom, rgb(106, 152, 240), rgb(73, 97, 220));*/
    background-color: rgb(73, 97, 220) !important;
}

/* ========== Section Padding ========== */
/* Padding allows you to directly focus on the section when you click on the navbar links*/
#intro {
    padding: 60px 0;
    background-image: linear-gradient(to bottom, rgb(106, 152, 240), rgb(73, 97, 220));
    /* Ensure that the intro section fills up the entire viewport so other sections do not leak into the viewport */
    min-height: 100vh;
}

#about {
    padding: 60px 0;
    background-color: rgb(73, 97, 220) !important;
}

#projects {
    padding: 60px 0;
    background-color: #ffffff;
}

#experience {
    padding: 60px 0;
}

#skills {
    padding: 60px 0;
}

#contact {
    padding: 60px 0;
}

#projects-divider {
    background-color: #ffffff;
}

/* ========== Nav bar ========== */
.navbar {
    background: #383838
}

.navbar-brand {
    font-family: "Montserrat";
    color: #efefef !important;
    font-size: 200%;
}

.nav-link {
    font-family: "Source Sans Pro";
    color: #efefef !important;
    font-size: 150%;
    position: relative;
}

/* Animating Link Underlines */
.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    transform: scaleX(0);
    /* Create a line underneath with a transformation of zero so no line is visible */
    transition: transform 0.3s ease;
}

.nav-link:hover::before {
    color: #efefef !important;
    transform: scaleX(1);
    /*Transform the line so it becomes visible*/
}

.navbar-nav li {
    padding: 0px 15px;
}

/* ========== Intro Section ========== */
.name {
    font-family: "Montserrat";
    color: #efefef !important;
    font-size: 4em;
    filter: drop-shadow(3px 3px 1px #383838);
}

/* This intro text has the typewriter animation*/
.intro-descri {
    font-family: "Source Sans Pro";
    color: #efefef !important;
    font-size: 1.5em;
}

.intro-image {
    width: 30vw;
    /* Scales with website width*/
    filter: drop-shadow(3px 3px 1px #383838);
    animation: onLoad 2s;
    /* Adds a sliding in animation for the intro image*/
}

/* Intro image animation that slides in on website loading*/
@keyframes onLoad {
    from {
        opacity: 0;
        transform: translate(-200px);

    }

    /* Slide in the image and fade it in */
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

/*===== Background design wires =====*/
.wire-1 {
    position: absolute;
    width: 15vw;
    left: 0;
    top: 25%;
    animation: loadIn 3s;

}

.wire-2 {
    position: absolute;
    width: 15vw;
    right: 0;
    top: 25%;
    transform: scaleX(-1);
    animation: loadIn 3s;
}

/*Media queries for different size screens*/
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
    .wire-1 {
        top: 25%
    }

    .wire-2 {
        top: 25%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
    .wire-1 {
        top: 30%
    }

    .wire-2 {
        top: 30%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
    .wire-1 {
        top: 20%
    }

    .wire-2 {
        top: 20%;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
    .wire-1 {
        top: 20%
    }

    .wire-2 {
        top: 20%;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {
    .wire-1 {
        top: 15%
    }

    .wire-2 {
        top: 15%;
    }
}

/* XX-Large devices (larger desktops) */
@media (min-width: 2559.98px) {
    .wire-1 {
        top: -5%
    }

    .wire-2 {
        top: -5%;
    }
}

/* Animate the wires fading in */
@keyframes loadIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


.chevron-down {
    color: #efefef;
    font-size: 2rem;
    /*-- name animation --*/
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Animate bouncing chevron */
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 1vw);
    }

    100% {
        transform: translate(0, 0);
    }
}

/*===== Linkedin & Github header buttons =====*/
.btn-header {
    margin: 1rem;
    padding: 1rem;
    border: none !important;
    background-color: transparent !important;
    border: 0;
    border-radius: 50%;
    /*Apply filter so that the icon appears white*/
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(59deg) brightness(106%) contrast(101%);
    transition: 0.2s ease-in-out
}

/*Animate the buttons on hover*/
.btn-header:hover {
    background-color: rgba(199, 208, 255, 0.2) !important;
    transform: scale(0.90);
    /*
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    */
}

.header-img {
    width: 3rem;
}

/* ========== About section ========== */
.svg-background {
    /*z-index: -1;*/
    position: absolute;
    width: 40% !important;
    height: auto !important;
}

.about-title {
    font-family: "Montserrat";
    color: #efefef !important;
    font-size: 4rem;
}

.about-text {
    font-family: "Source Sans Pro";
    color: #efefef !important;
    font-size: 1.25rem;
    line-height: normal;
    margin-top: 1rem;
}

.about-image {
    position: relative;
    width: 25vw;
    border-radius: 50%;
    /*Center the image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(4, 14, 65, 0.4) 10px 5px, rgba(4, 14, 65, 0.3) 20px 10px, rgba(4, 14, 65, 0.2) 30px 15px, rgba(4, 14, 65, 0.1) 40px 20px, rgba(4, 14, 65, 0.05) 50px 25px;
}

/* ----- Buttons ----- */
.btn-about {
    -moz-border-radius: 50%;
    /*works on Firefox */
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 1.5rem;
    background-color: #efefef !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

    /* Button Borders */
    /*
    border-style: outset;
    border-color: rgb(118, 118, 118) !important;
    border-width: 4px;
    */
    transition: 0.2s ease-in-out;

}

.btn-about:hover {
    filter: drop-shadow(3px 3px 1px #383838);
    /*transform: translateY(-5px);*/
    transform: scale(0.90);
}

.intrest-image {
    /*Ensure the button images span the entire width of the button*/
    width: 100%;
    /* Center the image */
    display: inline-block
}

/* ========== Project section ========== */
.projects-title {
    font-family: "Montserrat";
    color: #383838 !important;
    font-size: 3rem;
}

.line-break {
    width: 40px;
    height: 5px;
    margin: 0 0;
}

/* Radiobutton sections */
input[name="btnradioprojects"]:checked+label {
    background-image: linear-gradient(to bottom, rgb(106, 152, 240), rgb(106, 152, 240)) !important;
}

.btn-projects {
    font-family: "Montserrat";
    background-image: linear-gradient(to bottom, rgb(106, 152, 240), rgb(73, 97, 220));
    color: #efefef !important;
    font-size: 1.5rem;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 5px;
}

.btn-projects:hover {
    background-image: linear-gradient(to bottom, rgb(106, 152, 240), rgb(106, 152, 240));
}

.btn-icon {
    font-size: 3rem;
}

/* ---------- Large Cards ---------- */
.projects-large-cards {
    align-items: center;
    border-radius: 5px;
    overflow: auto;
    background-color: #efefef;
    height: 100%;
    transition: 0.2s ease-in-out;
    border: none;
}

/* Show the card */
.card-container.active {
    display: block;
}

/* Hide the card */
.card-container.hide {
    display: none;
}

.projects-large-cards:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    /*filter: drop-shadow(5px 5px 3px #000000);*/
    transform: translateY(-5px);

}

.card-body {
    text-align: start;
    width: 100%;
    padding: 2rem;
    /* Aligns footer text to the bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-family: "Montserrat";
    /*color:#000000 !important;*/
    color: #383838 !important;
    font-size: 2em;
}

.card-text {
    font-family: "Source Sans Pro";
    color: #383838 !important;
    /*color: #000000!important;*/
}

.card-img-projects {
    position: relative;
    width: 100%;
    filter: brightness(75%);
    transition: 0.5s ease-in-out;
}

/*
#speed-trap-img-body {
    background: linear-gradient(to bottom, rgba(106, 152, 240, 0.80), rgba(73, 97, 220, 0.80)), url(assets/speed-trap-poster.png) no-repeat top center;
    background-size: contain;
    overflow: hidden;
}

#evoborne-img-body {
    background: linear-gradient(to bottom, rgba(106, 152, 240, 0.80), rgba(73, 97, 220, 0.80)), url(assets/evoborne-poster.jpg) no-repeat top center;
    background-size: contain;
    overflow: hidden;
}

#hill-climb-img-body {
    background: linear-gradient(to bottom, rgba(106, 152, 240, 0.80), rgba(73, 97, 220, 0.80)), url(assets/hill-climb-remake.png) no-repeat top center;
    background-size: contain;
    overflow: hidden;
}
*/

.projects-large-cards:hover .card-img-projects {
    filter: brightness(100%);
    transition: 0.5s ease-in-out;

}


/* ---------- Smaller Cards ----------*/
.projects-small-cards {
    background-color: #efefef;
    align-items: center;
    border-radius: 5px;
    overflow: auto;
    height: 100%;
    transition: 0.2s ease-in-out;
    border: none;
    margin-right: 1rem;
}

.projects-small-cards:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    /*filter: drop-shadow(5px 5px 3px #383838);*/
    transform: translateY(-5px);

}

.small-cards-img {
    width: 8rem;
    padding-top: 2rem;
}

/* -- Badges --*/
.badges-group-large {
    text-align: start;
    padding-left: 2rem;
    padding-right: 2rem;
}

.badges-group-small {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.projects-badge {
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(106, 152, 240, 1), rgba(73, 97, 220, 1)) !important;
    /*filter: drop-shadow(2px 2px 2px #000000);*/
}

.projects-link-badge {
    padding: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgba(106, 152, 240, 1), rgba(73, 97, 220, 1)) !important;
    transition: 0.3s ease-in-out;
}

.projects-link-badge:hover {
    transform: scale(0.90);
}

.projects-badge-icons {
    width: 2rem;
}

/* =============== Experience =============== */
.experience-title {
    font-family: "Montserrat";
    color: #efefef !important;
    font-size: 3rem;
}

.experience-header {
    font-family: "Montserrat";
    color: #efefef !important;
    font-size: 2rem;
    filter: drop-shadow(3px 3px 1px #383838);

}

.experience-subtitle {
    font-family: "Montserrat";
    color: #efefef !important;
    font-size: 1rem;
}

.experience-description {
    font-family: "Source Sans Pro";
    color: #efefef !important;
    font-size: 1rem;
}

.experience-date {
    font-style: italic;
    font-family: "Source Sans Pro";
    color: #efefef !important;
    font-size: 1rem;
}

.timeline-btn {
    border-radius: 50%;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #efefef !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    max-width: 10vw;
    min-width: 50px;
    transition: 0.2s ease-in-out;
}

.timeline-icon {
    /*Ensure the button images span the entire width of the button*/
    width: 100%;
    /* Center the image */
    display: inline-block
}

.timeline-btn:hover {
    filter: drop-shadow(3px 3px 1px #383838);
    /*transform: translateY(-5px);*/
    transform: scale(0.90);
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin: 0 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0%;
    margin-left: -3px;
}

/* Timeline circle */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -13px;
    background-color: #4961DC;
    border: 4px solid white;
    top: 45%;
    border-radius: 50%;
    z-index: 1;
}

/* More details button */
.timeline-button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 1rem;
    background-color: #383838;
    border: none;
    color: #efefef;
    transition: 0.3s ease-in-out;
    text-decoration: none !important;
    padding: 0.5rem;
}

.timeline-button:hover {
    color: #efefef;
    transform: scale(0.90);
}

.timeline-button-text {
    display: inline-block;
    margin-top: auto !important;
    margin-bottom: auto !important;
}


/* =============== Skills =============== */
.skills-title {
    font-family: "Montserrat";
    color: #ffffff !important;
    font-size: 3rem;
}

.skills-header {
    font-family: "Source Sans Pro";
    color: #ffffff !important;
    font-size: 2rem;
    /*filter: drop-shadow(3px 3px 1px #383838);*/

}

/* ----- Tools button ----- */
.btn-skills {
    background-color: #ffffff;
    border-radius: 50%;
    max-width: 200px;
    font-family: "Source Sans Pro";
    color: #efefef !important;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    transition: 0.2s ease-in-out;
}

.btn-skills:hover {
    filter: drop-shadow(3px 3px 1px #383838);
    /*transform: translateY(-5px);*/
    transform: scale(0.90);
}

.btn-skills-image {
    width: 5rem;
}

.triggerAnimation {
    animation: slide-in 2s;
    animation-iteration-count: 1;

}

/* Animate tools buttons */
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translate(5%, 0px)
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px)
    }
}

/* ========== Form ========== */
.contact-title {
    font-family: "Montserrat";
    color: #ffffff !important;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.contact-text {
    font-family: "Source Sans Pro";
    font-size: 1.25rem;
    color: #efefef !important;
    padding-bottom: 1rem;
}

.form-control {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    font-family: "Montserrat";
    font-size: 1rem;
}

.contact-icon-card {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: fit-content;
    padding: 1rem;

}

.btn-contact {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 1rem;
    background: linear-gradient(to bottom, rgba(106, 152, 240, 1), rgba(73, 97, 220, 1));
    border: none;
    color: #efefef;
    transition: 0.3s ease-in-out;
}

.btn-contact:hover {
    color: #efefef;
    transform: scale(0.90);
}

.contact-img {
    width: 3rem;
}

/* ========== Footer ========== */
.footer {
    background-color: #383838;
    outline: none !important;
    border: none !important
}

.footer-wrapper {
    font-family: "Source Sans Pro";
    color: #efefef;
    padding: 1rem;
}

.footer-text {
    margin-bottom: 0;
    display: inline;
    white-space: nowrap
}

.footer-column {
    padding: 0;
}